<thead>
    <th> {{day}} </th>
</thead>

<tbody [ngClass]="weekend?'weekend':''">
    <tr class="pad">
      <select [(ngModel)]="workedMins" (click)="updateTotal()">
        <option [value]="0">0</option>
        <option [value]="60">1</option>
        <option [value]="120">2</option>
        <option [value]="180">3</option>
        <option [value]="240">4</option>
        <option [value]="300">5</option>
        <option [value]="360">6</option>
        <option [value]="420">7</option>
        <option [value]="480">8</option>
        <option [value]="540">9</option>
        <option [value]="600">10</option>
      </select>
    </tr>
    <tr class="pad">{{ngpaMins}}</tr>
    <tr class="pad">{{adminMins}}</tr>
    <tr class="pad">{{fundrMins}}</tr>
    <tr class="pad">{{salesmMins}}</tr>
    <tr class="pad">{{otherMins}}</tr>
    <tr class="pad">{{leavesickMins}}</tr>
    <tr class="pad">{{leaveptoMins}}</tr>
    <tr class="pad">
      <select [(ngModel)]="holidayMins" (click)="updateTotal()">
        <option [value]="0">0</option>
        <option [value]="60">1</option>
        <option [value]="120">2</option>
        <option [value]="180">3</option>
        <option [value]="240">4</option>
        <option [value]="300">5</option>
        <option [value]="360">6</option>
        <option [value]="420">7</option>
        <option [value]="480">8</option>
        <option [value]="540">9</option>
        <option [value]="600">10</option>
      </select>
    </tr>
    <tr class="total">{{totalHours}}</tr>
    <tr class="times">{{timeIn1}}</tr>
    <tr class="times">{{timeOut1}}</tr>
    <tr class="times">{{timeIn2}}</tr>
    <tr class="times">{{timeOut2}}</tr>
    <tr class="pad">{{regMins}}</tr>
    <tr class="pad">{{otMins}}</tr>
</tbody>

