.h2 {
    text-align: center;
    margin: 0px auto;
    display: block;
    margin-top: 5vh;
}



.card-title {
    color: #707070;
}

.inline {
    display: inline-block;
    margin-right: 10px;
    text-align: center;

}
.btn-outline-primary {
    font-size: 12px;
    display: inline-block;
}

.table {
    width: 80%;
    margin: 20px auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.table thead th {
    text-align: center;
    font-weight: bold;
}

.table th,
tbody td {
    text-align: center;
    padding: 12px 15px;
}

.table tbody tr {
    background-color: #f0ecec;
    border-bottom: 1px solid black;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    padding-bottom: 40px;
}
