<h2>ONF Timesheets</h2>
<p>{{email}}</p>

<span title="previous" (click)="changeWeek(-1)"><<  </span>

<span>Week: {{currentWeekId}}   {{weeks.get(currentWeekId)?.begin | date}} - {{weeks.get(currentWeekId)?.end | date}}</span>
<span title="next" (click)="changeWeek(1)">  >></span>
<table>
  <tbody>
  <tr>
    <td *ngFor="let d of days | keyvalue">
      <app-day [day]="d.key | date: 'EEE dd'" [email]="d.value.email" [workedMins]="d.value.worked_mins"></app-day>
    </td>
  </tr>
  </tbody>
</table>
