<div class="card">
  <div class="card-header">
    <h2>ONF Timesheets</h2>
  </div>
  <div class="card-body">
    <h5 class="card-title">{{email}}</h5>
    <h4 class="inline"> Week: </h4>
    <span class="inline">
      <button class="btn btn-outline-primary btn-sm" (click)="changeWeek(-1)"><i
          class="fa fa-chevron-left"></i></button>
      {{currentWeekId}} || {{weeks.get(currentWeekId)?.begin | date}} - {{weeks.get(currentWeekId)?.end | date}}
      <button class="btn btn-outline-primary btn-sm" (click)="changeWeek(1)"><i
          class="fa fa-chevron-right"></i></button>
    </span>


    <table class="table">
      <tbody>
        <tr>
          <td *ngFor="let d of days | keyvalue">
            <app-day [day]="d.key | date: 'EEE dd'" [email]="d.value.email" [workedMins]="d.value.worked_mins">
            </app-day>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="center">
    <button type="button" class="btn btn-primary-2">Submit</button>
  </div>

</div>